<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p class="text-light">
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter,  class: "form-control" %>
  </p>
  <p class="text-light">
    <%= form.label :body %><br>
    <%= form.text_area :body ,class:"form-control"%>
  </p>

  <p class="text-light">
    <%= form.label :status %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public',class:"form-control" %>
  </p>  

  <p>
  <%= button_to "Ajouter un Commentaire " , articles_path ,class: 'btn btn-primary' , :method => "post"%>
  </p>

<% end %>