<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title, class:"text-light" %><br>
    <%= form.text_field :title ,  class: "form-control"%>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body, class:"text-light" %><br>
    <%= form.text_area :body ,  class: "form-control"%><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div>
      <%= message %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :status, class:"text-light" %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public',  class: "form-control" %>
  </div>
  <br>
  <div>
    <%= form.fields_for :picture do |picture_fields| %>
      <p class="text-light">Nom  : </p><%=picture_fields.text_field :name ,  class: "form-control"%>
      <br>
      <p class="text-light">
      Fichier: </p><%= picture_fields.file_field :image,  class: "form-control" %>
    <% end %>
  </div>

  <div>
  <br>
   <%= button_to "Ajouter un L'article " , articles_path ,class: 'btn btn-primary' , :method => "post"%>
  </div>
<% end %>
